<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect index.php">
          <match url="^index$"/>
          <action type="Rewrite" url="index.php"/>
        </rule>
        <rule name="Redirect donat.php">
          <match url="^donat$"/>
          <action type="Rewrite" url="donat.php"/>
        </rule>
        <rule name="Redirect details.php">
          <match url="^details$"/>
          <action type="Rewrite" url="details.php"/>
        </rule>
        <rule name="Redirect datacheck">
          <match url="^datacheck$"/>
          <action type="Rewrite" url="datacheck.php"/>
        </rule>
        <rule name="Redirect donat_check">
          <match url="^donat_check$"/>
          <action type="Rewrite" url="donat_check.php"/>
        </rule>
        <rule name="Redirect qrgenerator">
          <match url="^qrgenerator$"/>
          <action type="Rewrite" url="qrgenerator.php"/>
        </rule>
        <rule name="Redirect recieve">
          <match url="^recieve$"/>
          <action type="Rewrite" url="recieve.php"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
